body{
    font-family: 'Segoe UI',sans-serif;
    background-color: #fefefe;
    margin:auto;
}
h3{
    color:rgb(66, 4, 25);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:auto;
}
h1{
    color: rgb(164, 16, 16);
}
select{
    border: none;
    color: rgb(66, 4, 25);
    display: none;
}
*:hover select{
    display :block;
}
#output{
    margin-top:30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#media-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}
#quote{
    text-align: center;
}
#image{
    width : 50%;
    height:auto;
    border-radius: 12px;
}
#music iframe{
    margin-top: 20px;
    width: 400px;
    height : 200px;
    overflow: hidden;
    border-radius: 12px;
}
.happy{
    background-color: #FFF9C4;
}
.sad{
    background-color: #BBDEFB;
}
.lazy{
    background-color:#e0e0e0b7 ;
}
.energetic{
    background-color: #f35c26 ;
}